html {
    font-size: 24px;
    font-family: sans-serif;
}
main, body {
    display: flex;
    flex-direction: column;
}
main > *, body > * {
    flex: 0 0 1;
    align-self: center;
}
input {
    margin-left: 0.5rem;
}
button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.cell {
    width: 2em;
    height: 2em;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
}
.cell::before{    content: attr(data-state); }

.cell[data-state="0"] { background: black; color: white; }
.cell[data-state="1"] { background: yellow; color: hsl(300,100%,50%); }
.cell[data-state="2"] { background: blue; color: hsl(120, 100%, 50%); }


.gradient .cell[data-state="0"] { background: #000000; }
.gradient .cell[data-state="1"] { background: #762a83; }
.gradient .cell[data-state="2"] { background: #9970ab; }
.gradient .cell[data-state="3"] { background: #c2a5cf; }
.gradient .cell[data-state="4"] { background: #e7d4e8; }
.gradient .cell[data-state="5"] { background: #d9f0d3; }
.gradient .cell[data-state="6"] { background: #a6dba0; }
.gradient .cell[data-state="7"] { background: #5aae61; }
.gradient .cell[data-state="8"] { background: #1b7837; }
.gradient .cell[data-state="9"] { background: #00441b; }


footer {
    font-size: 0.8rem;
    margin-top: 2rem;
}
